<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Train Alert Password Reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.name})}">
            Dear
        </p>
        <p th:text="#{email.reset.text1}">
            For your Train Alert service account a password reset was requested, please click on the URL below to reset it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
               th:text="PasswordReset">Reset Link</a>
        </p>
        
        <p>
        	If you do not own a Train Alert account, please disregard this e-mail. 
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}"></em>
        </p>
    </body>
</html>
